@page
@model Grades.Pages.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Оценочки</title>
</head>
<body>
    <div>
        <p>Тут можно ставить и смотреть оценочки!!</p>
        <a asp-page="AddGrade">Выставить оценочку</a>
    </div>
</body>
</html>